
*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;    
    line-height: 30px;
    font-weight: 400;       
    color: #a88590;
    margin:0px;
}

body a {
    text-decoration: none;
}

body a:hover {
    color: #acacac;
}

main {
    height:100vh;
    display: grid;
    grid-template-areas:
        "left right";
    grid-template-columns: 50% auto ;
}

.right {
    flex: 1 0 0;
    height: 100%;
    background-image: url(images/person.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.left {
    background-color: #f9f0ff;
    padding:50px;
}
.left h3 {
    font-size: 28px;
    color: #492d31;
    font-weight:400;
}

.left h1 {
    font-size: 100px;
    line-height: 104px;
    font-weight: 800;
    color: #f37b83;
}

.social-links {
    margin-top: 10vh;
    margin-bottom: -5px;
}

.social-links a {
    font-size: 12px;    
    color: #492D31;
    letter-spacing: 5px;
    margin-right: 30px;
}

.social-links a:last-of-type {
    margin-right: 0;
}




