body {
    font-family: Georgia, sans-serif;
    font-size: 18px;
}

main {
    margin: 48px;
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    margin-top:8px;
    margin-bottom:0px;
}


#topic-link {
    font-size: 20px;
    color: #e7131a;
}

#sub-title {
    font-size:24px;
    margin:0 0 8px 0;
}

.title > address, .title > time {
    font-weight: 600;
    font-size: 11px;
}

.title > address {
    display: inline;
    color: #e7131a;
}

.avatar {
    margin-right:5px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.meet {
    border-bottom: 1px solid #000;
}

.meet > h2 {
    padding-bottom:12px;
    border-bottom: 1px solid #000;
}

.meet a {
    color: #e7131a;
}

.jelly figure {
    margin-left:0;
}

figure img {
    width:100%;
}



