#button1, #button2, #button3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000;
    width: 300px;
}

#button1 {
/* Put your CSS for button 1 here */
}

#button2 {
/* Put your CSS for button 2 here */
}

#button3 {
/* Put your CSS for button 3 here */
}

h1 {
    background-color: #3399ff;
    text-align: center;
    margin: 5px;
    padding: 10px;
}