:root {
  --color-dark-cyan: hsl(185, 75%, 39%) ;
  --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-greyish-blue: hsl(227, 10%, 46%);
  --color-dark-grey: hsl(0, 0%, 59%);
}

html {
  font-size: 50%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
  background: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg"), var(--color-dark-cyan);
  background-repeat: no-repeat;
  background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2.25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120rem;
  height: 80rem;
}

.card {
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.2);
}

.card .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

.card .middle img {
  margin-top: -7.5rem;
  margin-bottom: 3rem;
  border: 5px solid white;
  border-radius: 50%;
}

.card .middle .title {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.card .middle .title .name {
  margin-right: 10px;
  color: var(--color-very-dark-desaturated-blue);
  font-size: 18px;
  font-weight:700;
}

.card .middle .title span {
  color: var(--color-dark-grey);
}

.card .middle .location {
  margin-bottom: 16px;
  color: var(--color-dark-grey);
  font-size: 1.75rem;
}

.card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.figure {
  text-align: center;
}

.figure .title {
  margin-bottom: 16px;
  color: var(--color-very-dark-desaturated-blue);
  font-weight: 700;
}

.figure .description {
  color: var(--color-dark-grey);
  font-size: 14px;
}