body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: #eee;
  }
  
  h2  {
    color: #39feee;
    padding: 0 0 1rem 0;
  }
  
  p {
    line-height: 1.5;
  }
  
  span {
    height: 75px;
    padding: 2px;
    margin: 5px;
    background-color: #39feee;
    color: #333;
  }
  
  div {
    background-color: #555;
    margin: 2rem;
    padding: 1rem;
  }
  
  .block {
    display: block;
    margin: 1rem 0;
  }
  
  .inline {
    display: inline;
  }
  
  .inline-block {
    display: inline-block;
  }