* {
    font-family: "Lato";
  }
  
  h2 {
    margin: 4rem 0 0 0;
  }
  
  div.xy-selector div p {
    color: red;
  }
  
  div#adj-container ul + p {
    color: red;
  }
  
  div#direct-container > ul {
    border: 1px solid black;
  }
  
  div#sib-container ul ~ p {
    color: red;
  }
  